@import "../../utilities/variables";
header {
  padding: 15px;
  &,
  h1 {
    color: $light-grey;
    margin: 0;
  }
  h2{
    color: $grey;
    font-weight: normal;
    font-size: 1em;
    display: inline-block;
  }
  p {
    margin: 5px 0 0 0;
  }
  #logo {
    width: 75px;
    margin-top: 10px;
  }
}
