@import "../../utilities/variables";

.question--block {
  border: 1px solid $grey;
  padding: $padding;
  margin: 0 auto 10px auto;
  overflow: hidden;
  &,
  h2 {
    color: $grey;
    transition: color .15s ease;
  }
  &:hover {
    &,
    h2 {
      color: #fff;
    }
  }
  &:last-child{
    margin: 0 auto;
  }
}
