@import "./utilities/variables";

body {
  background-color: #2c3e50;
  cursor: default;
  font-size: .65vw;
}
img {
  max-width: 100%;
}
.homepage--container {
  padding: $padding;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.green {
  color: $green;
}
.blue {
  color: blue;
}
.orange {
  color: $orange;
}
.btn-success {
  &,
  &:hover,
  &:focus,
  &:active {
    background-color: $green;
    border-color: $green;
  }
  &:hover {
    opacity: 0.9;
  }
}
.tag--link{
  cursor: pointer;
  &:hover{color: orange}
}
.ref--link{
  display: block;
  text-align: right;
  opacity: .85;
  &:hover{opacity: 1}
}
.text-center{text-align: center;}
.ant-result {
  border: 1px solid $grey;
  .ant-result-title {
    color: $grey;
    line-height: initial;
  }
  .ant-result-icon > .anticon {
    font-size: 48px;
  }
}
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: $grey;
  outline: 1px solid $grey;
}
